@import "src/style/configuration";

.PlanCount {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   font-size: 30px;
   font-weight: bold;
   height: 50%;
   width: 20%;
   transition: $transition;

   span {
      font-size: 20px;
      color: #3D8DAE;
   }

   p {
      color: #3D8DAE;
   }
}

@media screen and (max-width: 750px) {
   .PlanCount {
      width: min-content;
   }
}

@media screen and (max-width: 499px) {
   .PlanCount {
      font-size: 25px;

      span {
         font-size: 17px;
      }
   }
}