@import "src/style/configuration";

.ChangePasswordForm {
   @extend %flex-align-justify-column;
   gap: 40px;
   padding: 50px;
   width: 500px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
   background: var(--second-bg);
   transition: $transition;
   border-radius: 10px;
}

@media screen and (max-width: 600px) {
   .ChangePasswordForm {
      width: 450px;
   }
}

@media screen and (max-width: 499px) {
   .ChangePasswordForm {
      width: 95vw;
   }
}
