.ActivationPage {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 100px;
}

@media screen and (max-height: 800px) {
   .ActivationPage {
      height: 800px;
   }
}