@import "src/style/configuration";

.NoteSidebar {
   @extend %flex-align-justify;
   height: 100%;
   width: 28%;
   background: var(--second-bg);
   border-radius: 10px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   .note_sidebar {
      @extend %flex-align-justify-column;
      height: 100%;
      width: 100%;
      transition: $transition;

      .header {
         @extend %flex-align-justify;
         width: 100%;
         gap: 10px;
         height: 50px;
         border-bottom: 2px solid var(--decorative-grey);
         color: var(--notes-color);

         img {
            height: 30px;
            cursor: pointer;
            transition: .2s;

            &:hover {
               filter: var(--icon-hover);
               -webkit-filter: var(--icon-hover);
            }
         }
      }

      .bottom {
         @extend %flex-align-justify;
         border-top: 2px solid var(--decorative-grey);
         width: 100%;
         height: 50px;
      }
   }
}




