@import "src/style/configuration";

.LoginForm {
   @extend %flex-align-justify-column;
   background: var(--second-bg);
   padding: 50px;
   border-radius: 10px;
   width: 400px;
   transition: $transition;
   gap: 40px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   .footer {
      @extend %flex-align;

      gap: 20px;
      cursor: pointer;

      p {
         &:hover {
            color: #DF8453;
         }
      }

      p:nth-child(2) {
         color: #d78052;
      }

   }
}

@media screen and (max-width: 499px) {
   .LoginForm {
      width: 95vw;
   }
}

