<table style="text-align: center;
                margin: 0 auto;
                font-size: 16px;
                width: 50%;">

    <tr>
        <td>
            <p> Вирішили змінити електронну пошту? </p>
            <p> Для підтвердження перейдіть за <a href={{{confirmationLink}}}> посиланням. </a> </p>
        </td>
    </tr>

</table>
