<table style="text-align: center;
                margin: 0 auto;
                font-size: 16px;
                width: 50%;">

    <tr>
        <td>
            <p> Забули пароль? Нічого страшного, усі щось забувають :) </p>
            <p> Ви можете встановити новий пароль. Для цього перейдіть за посиланням. </p>
            <u> <a href={{{resetPasswordLink}}}> клікни сюди </a> </u>
        </td>
    </tr>

</table>
