<table style="text-align: center;
                margin: 0 auto;
                font-size: 16px;
                width: 50%;">

    <tr>
        <td>
            <p> Ви успішно пройшли реєстрацію. </p>
            <p> Для активації аккаунту введіть наступний код: </p>
            <b> <u> {{{activationCode}}} </u> </b>
        </td>
    </tr>

</table>
