@import "src/style/configuration";

.ForgotPasswordMessage {
   @extend %flex-align-justify;
   width: 100vw;
   height: 100vh;
   transition: $transition;

   .message {
      @extend %flex-align-justify-column;
      background: var(--second-bg);
      padding: 50px;
      border-radius: 15px;
      width: 600px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

      div:nth-child(2) {
         font-size: 20px;
      }

      svg {
         color: #3D8DAE;
      }
   }
}

@media screen and (max-width: 700px) {
   .ForgotPasswordMessage {
      .message {
         width: 450px;
      }
   }
}

@media screen and (max-height: 800px) {
   .ForgotPasswordMessage {
      height: 800px;
   }
}

@media screen and (max-width: 499px) {
   .ForgotPasswordMessage {
      .message {
         width: 95vw;
      }
   }
}