.ForgotPasswordMessage {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100vw;
   height: 100vh;

   .result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: white;
      padding: 50px;
      border-radius: 15px;
      width: 600px;

      div {
         font-size: 20px;
      }

      svg {
         color: #3D8DAE;
      }

   }

   button {
      margin-top: 10px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      background: #24292e;
      color: white;
      border-radius: 5px;
      font-size: 16px;

      &:hover {
         background: #3D8DAE;
      }

   }
}

@media screen and (max-width: 630px) {
   .ForgotPasswordMessage {
      .result {
         width: 500px;
      }
   }
}

@media screen and (max-width: 500px) {
   .ForgotPasswordMessage {
      .result {
         width: 320px;
      }
   }
}

@media screen and (max-width: 350px) {
   .ForgotPasswordMessage {
      .result {
         width: 270px;
      }
   }
}