.NotesItem {
   display: flex;
   justify-content: space-between;
   flex-direction: column;

   padding: 10px 20px;
   background: rgb(244, 244, 244);
   width: 95%;
   min-height: 85px;
   border-radius: 10px;
   text-align: center;
   cursor: pointer;

   overflow: hidden;

   .title {
      font-weight: 500;
      text-align: left;
   }

   .body {
      font-size: 15px;
      text-align: left;
   }

   .date {
      font-size: 13px;
      color: #d78052;
      text-align: right;
   }
}

.NotesItem[data-active='true'] {
   background: rgb(227, 227, 227);
}