.NotesItem {
   display: flex;
   justify-content: space-between;
   flex-direction: column;

   padding: 10px 20px;
   background: rgb(244, 244, 244);
   width: 95%;
   min-height: 85px;
   border-radius: 10px;
   text-align: center;
   cursor: pointer;
   position: relative;

   overflow: hidden;

   .title {
      font-weight: 500;
      text-align: left;
   }

   .delete {
      position: absolute;
      right: 20px;
      font-size: 14px;
      font-weight: 500;
      color: indianred;
      cursor: pointer;

      img {
         width: 10px;
      }

      &:hover {
         color: #a24848;
      }
   }

   .body {
      font-size: 14px;
      text-align: left;
      color: #7d7d7d;
   }

   .date {
      font-size: 13px;
      color: #d78052;
      font-weight: 500;
      text-align: right;
   }
}

.NotesItem[data-active='true'] {
   background: rgb(227, 227, 227);
}