@import "src/style/configuration";

.NoteCount {
   @extend %flex-align;
   justify-content: space-evenly;
   flex-direction: column;
   font-size: 30px;
   font-weight: bold;
   height: 50%;
   width: 20%;
   transition: $transition;

   span {
      font-size: 20px;
      color: var(--notes-color);
   }

   p {
      color: var(--notes-color);
   }
}

@media screen and (max-width: 750px) {
   .NoteCount {
      width: min-content;
   }
}