@import "src/style/configuration";

.NoteEdit {
   @extend %flex-align-justify;
   height: 100%;
   width: 60%;
   background: var(--second-bg);
   border-radius: 10px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   .note_edit {
      @extend %flex-align-justify-column;
      height: 100%;
      width: 100%;
      position: relative;
      transition: $transition;

      .header {
         @extend %flex-align-justify;
         border-bottom: 2px solid var(--decorative-grey);
         width: 100%;
         height: 50px;
         position: relative;
      }
   }
}

.no_notes_wrapper {
   @extend %flex-align-justify;
   height: 100%;
   width: 60%;
   background: var(--second-bg);
   border-radius: 10px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   p {
      font-family: 'Caveat', cursive;
      font-size: 30px;
   }
}

