.ForgotPasswordForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: white;
   padding: 50px;
   border-radius: 15px;
   width: 600px;
   gap: 40px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   button {
      padding: 10px;
      border: none;
      cursor: pointer;
      background: #24292e;
      color: white;
      width: 100%;
      border-radius: 5px;

      &:hover {
         background: #3D8DAE;
      }

   }

   button:disabled {
      background: rgba(36, 41, 46, 0.24);
      cursor: inherit;
   }
}

.message {
   text-align: center;
   font-size: 19px;
   font-weight: 500;
}

@media screen and (max-width: 630px) {
   .ForgotPasswordForm {
      width: 500px;
      padding: 40px;
   }
}

@media screen and (max-width: 500px) {
   .ForgotPasswordForm {
      width: 320px;
      padding: 40px;
   }
}

@media screen and (max-width: 350px) {
   .ForgotPasswordForm {
      width: 270px;
      padding: 40px;

      .message {
         font-size: 18px;
      }
   }
}