.MomentList {
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   gap: 30px;

   position: relative;
   width: 95%;
   height: 100%;
   margin: 0 auto;
   padding: 30px 10px 30px 10px;

   .no_moments_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
   }

   .spinner_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
   }

}