%flex {
   display: flex;
   align-items: center;
}

.MomentItem {
   @extend %flex;
   justify-content: center;

   width: calc(100% / 3 - 20px);
   height: 350px;

   position: relative;
   border-radius: 20px;
   overflow: hidden;
   transition: .3s;
   cursor: pointer;
   background: rgb(244, 244, 244);

   &:hover {
      filter: brightness(90%);
      -webkit-filter: brightness(90%);
   }

   .photo_background {
      position: absolute;
      width: 800px;
      filter: blur(10px) contrast(80%);
      -webkit-filter: blur(10px) contrast(80%);
   }

   .photo {
      width: 230px;
      position: absolute;
      filter: contrast(90%);
      -webkit-filter: contrast(90%);
      border-radius: 20px;
   }

   .no_image {
      position: absolute;
      width: 100px;
   }


   .title {
      position: absolute;
      top: 15px;
      left: 20px;
      z-index: 1;
      color: white;
      background: #24292e;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
   }

   .date_and_location_wrapper {
      display: flex;
      gap: 10px;

      position: absolute;
      bottom: 15px;
      right: 20px;

      .date, .location {
         color: white;
         background: #24292e;
         padding: 5px 10px;
         border-radius: 5px;
         font-size: 14px;
         cursor: pointer;
      }
   }

   .tags_wrapper {
      @extend %flex;
      gap: 10px;

      position: absolute;
      bottom: 15px;
      left: 20px;

      .tag {
         color: white;
         background: #7274d7;
         padding: 5px 10px;
         border-radius: 5px;
         font-size: 14px;
      }
   }
}


@media screen and (max-width: 1600px) {
   .MomentItem {
      width: calc(100% / 2 - 15px);

   }
}

@media screen and (max-width: 900px) {
   .MomentItem {
      width: 100%;
   }
}


