* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   letter-spacing: -0.8px;
   scrollbar-width: thin;
   scrollbar-color: #d0d0d0 transparent;

   &::-webkit-scrollbar {
      width: 5px;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }

   &::-webkit-scrollbar {
      width: 5px;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }

   &::-webkit-scrollbar {
      width: 5px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #d7d7d7;
      border-radius: 20px;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }
}

body {
   cursor: default;
   color: #4e4e51;

   background-image: url("../asset/bg2.jpg");
   background-size: cover;
   background-position: center;
}

//@media screen and (max-width: 550px) {
//   body {
//      font-size: 14px;
//   }
//}
//
//@media screen and (max-width: 350px) {
//   body {
//      font-size: 13px;
//   }
//}
