@import "src/style/configuration";

.DashboardPage {
   @extend %flex-align-justify-column;
   width: 85vw;
   height: calc(100vh - 170px);
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
   background: var(--second-bg);
   border-radius: 15px;
   position: relative;
   transition: $transition;

   .top {
      @extend %flex-align-justify-column;
      gap: 20px;
      height: 65%;
      width: 100%;

      .settings {
         position: absolute;
         left: 30px;
         top: 70px;
         cursor: pointer;
         transition: .2s;

         &:hover {
            filter: var(--icon-hover);
            -webkit-filter: var(--icon-hover);
         }
      }

      .switch {
         position: absolute;
         right: 30px;
         top: 20px
      }
   }

   .bottom {
      @extend %flex-align;
      justify-content: space-evenly;
      height: 35%;
      width: 100%;
   }
}

@media screen and (max-height: 800px) {
   .DashboardPage {
      height: 800px;
   }
}

@media screen and (max-width: 550px) {
   .DashboardPage {
      width: 450px;
   }
}