%flex {
   display: flex;
   align-items: center;
}

.TasksPage {
   @extend %flex;
   flex-direction: column;
   justify-content: center;

   width: 50vw;
   background: white;
   border-radius: 15px;
   height: calc(100vh - 170px);
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   .add_task_wrapper {
      @extend %flex;
      justify-content: center;

      height: 100px;
      width: 100%;
   }

   .task_list_wrapper {
      height: calc(100% - 160px);
      width: 100%;
      overflow-y: scroll;
      padding-bottom: 30px;
   }

}

@media screen and (max-height: 800px) {
   .TasksPage {
      height: 800px;
   }
}


@media screen and (max-width: 1200px) {
   .TasksPage {
      width: 70vw;
   }
}

@media screen and (max-width: 800px) {
   .TasksPage {
      width: 80vw;
   }
}