@import "src/style/configuration";

.NoteList {
   @extend %flex-align;
   flex-direction: column;
   width: 100%;
   height: calc(100% - 100px);
   overflow-y: scroll;

   .note_list {
      @extend %flex-align;
      justify-content: start;
      flex-direction: column;
      gap: 12px;
      position: relative;
      width: 100%;
      padding: 15px 0 15px 0;
   }
}

.no_notes_wrapper {
   @extend %flex-align-justify;
   height: 100%;
   width: 100%;
}
