@import "src/style/configuration";

.NoteList {
   @extend %flex-align;
   justify-content: start;
   flex-direction: column;
   gap: 10px;
   position: relative;
   width: 100%;
   padding: 15px 0 15px 0;
   transition: $transition;
}

.no_notes_wrapper {
   @extend %flex-align-justify;
   height: 100%;
   width: 100%;
}