%flex {
   display: flex;
   align-items: center;
}

.EmailConfirmationPage {
   @extend %flex;
   flex-direction: column;
   justify-content: center;

   width: 80vw;
   height: calc(100vh - 170px);
}

@media screen and (max-height: 800px) {
   .EmailConfirmationPage {
      height: 800px;
   }
}