@import "src/style/configuration";

.ResetPasswordForm {
   @extend %flex-align-justify-column;
   background: var(--second-bg);
   padding: 50px;
   border-radius: 15px;
   width: 500px;
   transition: $transition;
   gap: 40px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
}
