.PlanHeader {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;

   color: #4e4e51;

   height: 60px;
   width: 100%;
   position: relative;
   border-bottom: 2px #d7d7d7 solid;

   img {
      height: 25px;
   }

   .search_bar {
      position: absolute;
      right: 30px;
   }

   .add_plan {
      font-weight: 500;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: .3s;
      color: #4e4e51;

      &:hover {
         color: #3D8DAE;
      }
   }
}