@import "src/style/configuration";

.NoteItem {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   padding: 10px 20px;
   background: var(--item-bg);
   width: 90%;
   min-height: 90px;
   border-radius: 10px;
   text-align: center;
   cursor: pointer;
   position: relative;
   overflow: hidden;

   .note_title {
      font-weight: 500;
      font-size: 16px;
      text-align: left;
      width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   .delete {
      position: absolute;
      right: 20px;
      font-weight: 500;
      cursor: pointer;
      transition: .2s;

      &:hover {
         filter: var(--icon-hover);
         -webkit-filter: var(--icon-hover);
      }
   }

   .note_body {
      font-size: 14px;
      text-align: left;

      p {
         color: var(--second-font);
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }
   }

   .note_date {
      font-size: 13px;
      color: #d78052;
      font-weight: 500;
      text-align: right;
   }
}

.NoteItem[data-active='true'] {
   background: var(--item-bg-hover);
}