@import "src/style/configuration";

.body {
   @extend %flex-align-justify-column;
   transition: $transition;
   min-height: calc(100vh - 70px);
}

@media screen and (max-height: 800px) {
   .body {
      margin-top: 50px;
      margin-bottom: 50px;
   }
}