@import "src/style/configuration";

.DashboardGreeting {
   margin-top: 20px;
   font-size: 35px;
   font-weight: bold;
   color: #9d9d9d;
   position: relative;
   transition: $transition;

   .hello, .how_are_you {
      font-family: 'Caveat', cursive;
   }

   .top_line {
      @extend %flex-align-justify;
      gap: 10px;
      min-width: 400px;
   }

   .hello {
      font-size: 45px;
   }

   .username {
      color: #9d9d9d;
   }

   .how_are_you {
      font-size: 25px;
      position: absolute;
      right: 50px;
   }

   span:nth-child(2) {
      @extend %flex-align-justify-column;

   }
}

@media screen and (max-width: 499px) {
   .DashboardGreeting {
      font-size: 30px;

      span {
         font-size: 40px;
      }

      span:nth-child(2) {
         font-size: 22px;
      }
   }
}
