@import "src/style/configuration";

.DashboardGreeting {
   margin-top: 20px;
   font-size: 35px;
   font-weight: bold;
   color: #df8281;
   position: relative;
   transition: $transition;

   span {
      font-family: 'Caveat', cursive;
      font-size: 45px;
      color: var(--main-font);
   }

   span:nth-child(2) {
      @extend %flex-align-justify-column;
      position: absolute;
      font-size: 25px;
      left: 150px;
      width: 200px;
   }
}

@media screen and (max-width: 499px) {
   .DashboardGreeting {
      font-size: 30px;

      span {
         font-size: 40px;
      }

      span:nth-child(2) {
         font-size: 22px;
      }
   }
}
