<table style="text-align: center;
                margin: 0 auto;
                font-size: 16px;
                width: 50%;">

    <tr>
        <td>
            <p> Вирішили змінити електрону пошту? </p>
            <p> Для підтвердження перейдіть за посиланням. </p>
            <u> <a href={{{confirmationLink}}}> клікни сюди </a> </u>
        </td>
    </tr>

</table>
