<table style="text-align: center;
                margin: 0 auto;
                font-size: 16px;
                width: 50%;">

    <tr>
        <td>
            <p> Вітаємо! Ви успішно пройшли реєстрацію. </p>
            <p> Наступним кроком вам потрібно активувати аккаунт. </p>
            <p> Для цього введіть код активації: </p>
            <b> <u> {{{activationCode}}} </u> </b>
        </td>
    </tr>

</table>