@import "src/style/configuration";

.AuthSettings {
   @extend %flex-align-justify-column;
   gap: 5px;
   font-size: 15px;

   p {
      color: var(--second-font);
      cursor: pointer;

      &:hover {
         color: var(--decorative-grey);
      }
   }

}
