%flex {
   display: flex;
   align-items: center;
}

.PlansPage {
   @extend %flex;
   flex-direction: column;
   justify-content: center;

   width: 80vw;
   background: white;
   border-radius: 15px;
   height: calc(100vh - 170px);
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
   position: relative;

   .plan_list_wrapper {
      overflow-y: scroll;
      height: calc(100% - 60px);
      width: 100%;
   }
}


@media screen and (max-height: 800px) {
   .PlansPage {
      height: 800px;
   }
}