%flex {
   display: flex;
   align-items: center;
}

.PlansPage {
   @extend %flex;
   flex-direction: column;
   justify-content: center;

   width: 80vw;
   background: white;
   border-radius: 15px;
   height: calc(100vh - 170px);
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   .header {
      @extend %flex;
      justify-content: center;
      gap: 10px;

      height: 8%;
      width: 100%;
      position: relative;
      border-bottom: 2px #d7d7d7 solid;

      .search_bar {
         position: absolute;
         right: 30px;

         input {
            outline: none;
            background: none;
            text-align: center;
            border: none;
         }
      }

      .add_plan {
         font-weight: 500;
         background: transparent;
         border: none;
         cursor: pointer;
         transition: .3s;

         &:hover {
            color: #3D8DAE;
         }
      }
   }

   .main {
      overflow-y: scroll;
      height: 92%;
      width: 100%;

      .plan_list {
         display: flex;
         flex-wrap: wrap;
         align-content: flex-start;
         gap: 30px;

         width: 95%;
         margin: 0 auto;
         padding: 30px 10px 30px 10px;
      }
   }
}


@media screen and (max-height: 800px) {
   .PlansPage {
      height: 800px;
   }
}