@import "src/style/configuration";

.Info {
   @extend %flex-align-justify-column;
   gap: 70px;
   min-height: 100vh;
   transition: $transition;

   .content {
      width: 400px;
      background: var(--second-bg);
      padding: 50px;
      border-radius: 15px;
      text-align: center;

      p, span {
         font-size: 17px;
      }

      span {
         font-weight: bolder;
      }

      .sections {
         @extend %flex-align-justify;
         gap: 10px;
         margin: 10px 0 10px 0;

         span:nth-child(1) {
            color: var(--notes-color);
         }

         span:nth-child(3) {
            color: var(--plans-color);
         }

         span:nth-child(5) {
            color: var(--moments-color);
         }
      }

      .end {
         font-size: 30px;
         margin-top: 30px;
      }
   }
}

@media screen and (max-width: 499px) {
   .Info {
      .content {
         width: 95vw;
      }
   }
}