%flex {
   display: flex;
   align-items: center;
}

.MomentPage {
   @extend %flex;
   justify-content: center;
   flex-direction: column;

   width: 85vw;
   height: calc(100vh - 170px);
   background: white;
   border-radius: 15px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   .moment_list_wrapper {
      overflow-y: scroll;
      height: calc(100% - 60px);
      width: 100%;
   }
}

@media screen and (max-height: 800px) {
   .MomentPage {
      height: 800px;
   }
}

@media screen and (max-width: 550px) {
   .MomentPage {
      width: 450px;
   }
}