@import "src/style/configuration";

.PlanItem {
   @extend %flex-align-justify-column;
   gap: 28px;
   border-radius: 20px;
   background: var(--item-bg);
   height: 230px;
   width: calc(100% / 4 - 22.5px);
   position: relative;
   cursor: pointer;
   transition: .3s;

   &:hover {
      background: var(--item-bg-hover);
   }

   .plan_name {
      font-weight: 500;
      font-size: 18px;
   }

   .plan_date {
      font-weight: 500;
      font-size: 13px;
   }

   .delete {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      color: var(--main-font);
   }

   img {
      height: 90px;
   }
}

@media screen and (max-width: 1300px) {
   .PlanItem {
      width: calc(100% / 2 - 15px);
   }
}

@media screen and (max-width: 900px) {
   .PlanItem {
      width: 100%;
   }
}


