@import "src/style/configuration";

.MomentActivePage {
   @extend %flex-align-justify-column;
   transition: width $transition, height $transition;

   width: 60vw;
   height: calc(100vh - 170px);
   background: var(--second-bg);
   border-radius: 15px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
   position: relative;

   input {
      color: var(--button-font);
      border-radius: 5px;
      background: var(--button-bg);
      padding: 8px;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
   }

   .active_moment {
      width: 90%;
      height: 90%;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      transition: .5s;

      .save_delete_wrapper {
         @extend %flex-align-justify-column;
         align-items: end;
         gap: 10px;
         position: absolute;
         right: 25px;
         top: 25px;
         z-index: 1;

         .save_moment, .delete_moment {
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
            width: 90px;
            text-align: center;
         }

         .save_moment {
            background: var(--button-bg);
         }

         .delete_moment {
            background: indianred;
         }
      }


      .photo_wrapper {
         @extend %flex-align-justify;
         background: var(--item-bg);
         height: 100%;
         width: 100%;
         position: relative;

         .upload_photo_input {
            display: none;
         }

         .photo_background {
            position: absolute;
            width: 1800px;
            filter: blur(10px) contrast(80%) brightness(80%);
            -webkit-filter: blur(10px) contrast(80%) brightness(80%);
         }

         .photo {
            width: 450px;
            filter: contrast(90%);
            -webkit-filter: contrast(90%);
            border-radius: 20px;
            cursor: pointer;
            transition: $transition;
         }

         .no_image {
            position: absolute;
            width: 100px;
            cursor: pointer;
         }
      }

      .title {
         position: absolute;
         top: 25px;
         left: 25px;
         z-index: 1;
         width: 120px;
      }

      .date_and_location_wrapper {
         @extend %flex-align-justify-column;
         align-items: end;
         gap: 10px;
         position: absolute;
         bottom: 25px;
         right: 25px;

         .date {
            width: 120px;
         }

         .location {
            width: 120px;
         }

      }


      .tag_wrapper {
         @extend %flex-align-justify;
         background: #7274d7;
         border-radius: 5px;
         position: absolute;
         bottom: 25px;
         left: 25px;

         .tag {
            color: white;
            width: 60px;
            background: transparent;

            &::placeholder {
               color: #cacaca;
            }
         }

         span {
            font-weight: bold;
            background: #7274d7;
            text-align: center;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
         }

      }
   }
}

@media screen and (max-height: 800px) {
   .MomentActivePage {
      margin: 50px 0 50px 0;
      height: 0;
   }
}

@media screen and (max-width: 650px) {
   .MomentActivePage {
      width: 450px;
      height: 600px;

      .active_moment .photo_wrapper .photo {
         width: 300px;
      }

   }
}

@media screen and (max-width: 1000px) {
   .MomentActivePage {
      width: 85vw;
   }
}

@media screen and (max-width: 499px) {
   .MomentActivePage {
      width: 95vw;
   }
}

