%flex {
   display: flex;
   align-items: center;
}

.MomentActivePage {
   @extend %flex;
   flex-direction: column;
   justify-content: center;

   width: 60vw;
   height: calc(100vh - 170px);
   background: white;
   border-radius: 15px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   position: relative;

   input {
      padding: 6px;
      border-radius: 5px;
      border: none;
      outline: none;
      text-align: center;
   }

   .active_moment {
      width: 90%;
      height: 90%;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      transition: .5s;

      .save_moment, .delete_moment {
         position: absolute;
         z-index: 1;
         color: white;
         padding: 5px 10px;
         border-radius: 5px;
         font-size: 15px;
         cursor: pointer;
      }

      .save_moment {
         background: #24292e;
         right: 25px;
         top: 62px;
      }

      .delete_moment {
         background: indianred;
         right: 25px;
         top: 25px;
      }

      .photo_wrapper {
         @extend %flex;
         justify-content: center;
         background: rgb(244, 244, 244);
         height: 100%;
         width: 100%;
         position: relative;

         .upload_photo_input {
            display: none;
         }

         .photo_background {
            position: absolute;
            width: 1800px;
            filter: blur(10px) contrast(80%);
            -webkit-filter: blur(10px) contrast(80%);
         }

         .photo {
            width: 450px;
            filter: contrast(90%);
            -webkit-filter: contrast(90%);
            border-radius: 20px;
            cursor: pointer;
         }

         .no_image {
            position: absolute;
            width: 100px;
            cursor: pointer;
         }
      }

      .title {
         position: absolute;
         top: 25px;
         left: 25px;
         z-index: 1;
         color: white;
         background: #24292e;
         padding: 5px 10px;
         border-radius: 5px;
         cursor: pointer;
      }

      .title_input {
         z-index: 1;
         position: absolute;
         top: 60px;
         left: 26px;
         width: 150px;
      }

      .date_and_location_wrapper {
         display: flex;
         gap: 10px;

         position: absolute;
         bottom: 25px;
         right: 25px;

         .date_input {
            position: absolute;
            bottom: 40px;
            right: 3px;
         }

         .location_input {
            position: absolute;
            bottom: 40px;
            right: 102px;
            width: 100px;
         }

         .date, .location {
            color: white;
            background: #24292e;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
         }
      }

      .tags_wrapper {
         @extend %flex;
         gap: 10px;

         position: absolute;
         bottom: 25px;
         left: 25px;

         .tag_input {
            position: absolute;
            bottom: 40px;
            width: 100px;
         }

         .add_tag, .tag {
            color: white;
            background: #7274d7;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
         }
      }
   }

}

@media screen and (max-height: 800px) {
   .MomentActivePage {
      height: 800px;
   }
}
