@import "src/style/configuration";

.NoteHeaderAdaptive {
   @extend %flex-align-justify;
   gap: 10px;
   height: 50px;
   width: 100%;
   position: relative;
   border-bottom: 2px solid var(--decorative-grey);
   transition: $transition;

   .add {
      @extend %flex-align-justify;
      gap: 10px;

      img {
         height: 30px;
      }
   }

   .search_bar {
      position: absolute;
      right: 30px;
   }
}

@media screen and (max-width: 499px) {
   .NoteHeaderAdaptive {
      gap: 30px;

      .search_bar {
         position: static;
         right: 30px;
      }

   }
}
