@import "src/style/configuration";

.ErrorMessage {
   @extend %flex-align-justify;
   width: 100vw;
   height: 100vh;
   transition: $transition;

   div:nth-child(3) {
      font-size: 16px;
   }

   .message {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
      background: var(--second-bg);
      border-radius: 15px;
      position: relative;
      transition: $transition;
      padding: 50px 100px;
      width: 500px;
   }
}

@media screen and (max-width: 800px) {
   .ErrorMessage {
      .message {
         padding: 50px;
         width: 95vw;
      }
   }
}
