%flex {
   display: flex;
   align-items: center;
}

.PlanItem {
   @extend %flex;
   justify-content: center;
   flex-direction: column;
   gap: 28px;

   border-radius: 20px;
   background: rgb(244, 244, 244);
   height: 230px;
   width: calc(100% / 4 - 22.5px);
   position: relative;
   cursor: pointer;
   transition: .3s;

   &:hover {
      background: #f2f9ff;
   }

   .plan_name {
      font-weight: 500;
      font-size: 18px;
   }

   .plan_date {
      font-weight: 500;
      font-size: 13px;
   }

   .delete {
      position: absolute;
      right: 20px;
      top: 20px;
   }

   img {
      height: 90px;
   }
}

@media screen and (max-width: 1300px) {
   .PlansItem {
      width: calc(100% / 2 - 15px);

   }
}

@media screen and (max-width: 900px) {
   .PlansItem {
      width: 100%;
   }
}
