@import "src/style/configuration";

.ForgotPasswordForm {
   @extend %flex-align-justify-column;
   background: var(--second-bg);
   transition: $transition;
   padding: 50px;
   border-radius: 10px;
   width: 500px;
   gap: 40px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

   .message {
      text-align: center;
      font-size: 15px;
   }
}

@media screen and (max-width: 600px) {
   .ForgotPasswordForm {
      width: 450px;
   }
}

@media screen and (max-width: 499px) {
   .ForgotPasswordForm {
      width: 95vw;
   }
}
