@import "src/style/configuration";

.NotesPage {
   @extend %flex-align-justify;
   gap: 20px;
   width: 85vw;
   height: calc(100vh - 170px);
   transition: $transition;

   ::-webkit-scrollbar-track {
      background: transparent;
   }

   .left_side {
      @extend %flex-align-justify;
      height: 100%;
      width: 28%;
      background: var(--second-bg);
      border-radius: 15px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
   }

   .right_side {
      @extend %flex-align-justify;
      height: 100%;
      width: 60%;
      background: var(--second-bg);
      border-radius: 15px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
   }
}

.NotesPageAdaptive {
   @extend %flex-align-justify-column;
   width: 85vw;
   background: var(--second-bg);
   border-radius: 15px;
   height: calc(100vh - 170px);
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
   position: relative;
   transition: $transition;

   ::-webkit-scrollbar-track {
      background: transparent;
   }

   .note_list_wrapper {
      overflow-y: scroll;
      height: calc(100% - 60px);
      width: 100%;
   }
}

@media screen and (max-height: 800px) {
   .NotesPage {
      height: 800px;
   }

   .NotesPageAdaptive {
      height: 800px;
   }
}

@media screen and (max-width: 550px) {
   .NotesPage {
      width: 450px;
   }

   .NotesPageAdaptive {
      width: 450px;
   }
}