%flex {
   display: flex;
   align-items: center;
}

.NotesPage {
   @extend %flex;
   justify-content: center;
   gap: 20px;

   width: 85vw;
   height: calc(100vh - 170px);
}

.left_side {
   @extend %flex;
   justify-content: center;

   height: 100%;
   width: 25%;

   background: white;
   border-radius: 15px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
}

.right_side {
   @extend %flex;
   justify-content: center;

   height: 100%;
   width: 75%;

   background: white;
   border-radius: 15px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
}

@media screen and (max-height: 800px) {
   .NotesPage {
      height: 800px;
   }
}