@import "src/style/configuration";

.ResetPasswordPage {
   @extend %flex-align-justify-column;
   height: 100vh;
   gap: 100px;
   transition: $transition;
}

@media screen and (max-height: 800px) {
   .ResetPasswordPage {
      height: 800px;
   }
}
