@import "src/style/configuration";

.ResetPasswordPage {
   @extend %flex-align;
   min-height: 100vh;
   justify-content: space-evenly;

   .switch {
      position: absolute;
      right: 30px;
      top: 20px
   }
}

@media screen and (max-height: 800px) {
   .ResetPasswordPage {
      height: 800px;
   }
}