%flex {
   display: flex;
   align-items: center;
}

.GoalPage {
   width: 80vw;
   background: white;
   border-radius: 15px;
   height: calc(100vh - 170px);
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
}

@media screen and (max-height: 800px) {
   .GoalPage {
      height: 800px;
   }
}