@import "src/style/configuration";

.TextArea {
   @extend %flex-align-justify;
   width: 100%;
   height: calc(100% - 60px);

   textarea {
      padding: 0 15px 0 0;
      background: transparent;
      width: 95%;
      height: 95%;
      border: 0;
      resize: none;
      outline: none;
      color: var(--main-font);
      letter-spacing: 0;

      &::placeholder {
         color: var(--second-font);
         font-size: 15px;
      }
   }

   textarea[data-font='Caveat'] {
      font-family: 'Caveat', cursive;
      font-size: 23px;

      &::placeholder {
         font-family: 'Roboto', sans-serif;
         font-size: 16px;
      }
   }
}
