@import "src/style/configuration";

.LoginPage {
   @extend %flex-align-justify-column;
   height: 100vh;
   gap: 100px;
   transition: $transition;

   .switch {
      position: absolute;
      right: 30px;
      top: 20px
   }
}

@media screen and (max-height: 800px) {
   .LoginPage {
      height: 800px;
   }
}